<?xml version='1.0' encoding='UTF-8'?>
	<Root>
		<Policy>
			<PayNo>$!map.get('PayNo')</PayNo>
			<PayType>0</PayType>
			#if($!map.get('GrpContNo'))
				<GrpContNo>$!map.get('GrpContNo')</GrpContNo>
			#else
				<GrpContNo/>
			#end
			#if($!map.get('PrtNo'))
				<PrtNo>$!map.get('PrtNo')</PrtNo>
			#else
				<PrtNo/>
			#end
			<BussinessNo>$!map.get('BussinessNo')</BussinessNo>
			<BussinessType>$!map.get('BussinessType')</BussinessType>
			#if($!map.get('PayCustomerNo'))
				<PayCustomerNo>$!map.get('PayCustomerNo')</PayCustomerNo>
			#else
				<PayCustomerNo/>
			#end
			<PayWay>$!map.get('PayWay')</PayWay>
			<PayMoney>$!map.get('PayMoney')</PayMoney>
			#if($!map.get('ChequeNo'))
				<ChequeNo>$!map.get('ChequeNo')</ChequeNo>
			#else
				<ChequeNo/>
			#end
			#if($!map.get('ChequeDate'))
				<ChequeDate>$!map.get('ChequeDate')</ChequeDate>
			#else
				<ChequeDate/>
			#end
			#if($!map.get('BankCode'))
				<BankCode>$!map.get('BankCode')</BankCode>
			#else
				<BankCode/>
			#end
			#if($!map.get('BankAccNo'))
				<BankAccNo>$!map.get('BankAccNo')</BankAccNo>
			#else
				<BankAccNo/>
			#end
			#if($!map.get('BankAccName'))
				<BankAccName>$!map.get('BankAccName')</BankAccName>
			#else
				<BankAccName/>
			#end
			<InBankCode>$!map.get('InBankCode')</InBankCode>
			<InBankAccNo>$!map.get('InBankAccNo')</InBankAccNo>
		</Policy>
	</Root>