<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOG_HOME" value="../cfm_logs"/>

    <!-- 定义：统一的日志输出格式 -->
    <property name="LOG_FLAG" value="[ %-5level] [%date{yyyy-MM-dd HH:mm:ss.SSS}] [%thread]：%logger{96} [%line] - %msg%n" />
    <!-- 定义：统一的日志输出字符集 -->
    <property name="LOG_ENC" value="UTF-8"/>


    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender"> <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${LOG_FLAG}</pattern>
            <charset>${LOG_ENC}</charset>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/cfm.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/cfm-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>900MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_FLAG}</pattern>
            <charset>${LOG_ENC}</charset>
        </encoder>
    </appender>
    
    <appender name="quartzs" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/cfm_quartzs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/cfm_quartzs-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="BATCHPAY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/pay.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/pay-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>900MB</maxFileSize>
            <maxHistory>180</maxHistory>
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_FLAG}</pattern>
            <charset>${LOG_ENC}</charset>
        </encoder>
    </appender>
    
    <appender name="BATCHRECV" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/recv.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/recv-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>900MB</maxFileSize>
            <maxHistory>180</maxHistory>
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_FLAG}</pattern>
            <charset>${LOG_ENC}</charset>
        </encoder>
    </appender>

    <logger name="com.qhjf.cfm.web.quartzs.jobs" level="DEBUG" additivity="false">
        <appender-ref ref="quartzs" />
    </logger>
    
    <logger name="com.qhjf.cfm.web.webservice.la.logger.pay" level="DEBUG" additivity="false">
        <appender-ref ref="BATCHPAY" />
    </logger>
    <logger name="com.qhjf.cfm.web.webservice.la.logger.recv" level="DEBUG" additivity="false">
        <appender-ref ref="BATCHRECV" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>
